version: '3.8'

services:
  workspace:
    build:
      context: ./workspace
      target: development
    command: sleep infinity
    networks:
      - dev-net
      
    volumes:
      - type: volume
        source: vo-dev
        target: /workspace
      - type: bind
        source: ./build
        target: /build

  dev01:
    build: 
      context: ./dev01/
    command: sleep infinity
    volumes:
      - vo-dev:/workspace:rw

    
  dev02:
    build: 
      context: ./dev02/
    command: sleep infinity

volumes:
  vo-dev:


networks:
  dev-net: