version: '3.8'

services:
  workspace:
    build:
      context: ./workspace
      target: development
    command: sleep infinity
    networks:
      - dev-net
    volumes:
      - vo-dev:/workspace:ro

  
  dev01:
    build: 
      context: ./dev01/
    command: sleep infinity

    
  dev02:
    build: 
      context: ./dev02/
    command: sleep infinity

volumes:
  vo-dev:


networks:
  dev-net: